body {
    margin: 0;
    background-color: #8A2A2C;
    font-family: sans-serif;
}

#sideleft, #sideright, #left1, #left2, #left3, #left4, #right1, #right2, #right3, #right4 {
    background-color: #808385;
}
