footer {
    background-color: #2F2F34;
}

footer p, footer a {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    margin-top: 32px;
    margin-bottom: 32px;
    text-decoration: none;
}
