
h1 {
    color: #FFFFFF;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:28px;
    padding-bottom: 3px;
    height: 101px;
    text-shadow: 2px 2px #000000;
    text-align: center;
}

nav {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: #2F2F34;
    padding-top: 7px;
    text-align: center;
}

nav a:link {
    color: white;
    margin: auto;
    text-decoration: none;
    background-color: #2F2F34;
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

nav a:visited {
    color: white;
    background-color: #2F2F34;

}

nav a:hover {
    color: #8A2A2C;
    background-color: #FFFFFF;
}

nav a:active {
    color: #F75259;
    background-color: #FFFFFF;
}