

body {
    background-color: #8A2A2C;
    font-family: sans-serif;
    margin: 0px;
}

#main {
    padding-bottom: 4%;
    background-color: #808385;
    float: left;
}

#main p {
    color: #FFFFFF;
}

footer {
    background-color: #2F2F34;
    color: #8A2A2C;
}

footer p {

    color: #FFFFFF;
    text-shadow: 2px 2px #000000;

}

h1, nav {
    text-align: center;
}

h1 {
    color: #FFFFFF;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-shadow: 2px 2px #000000;
}

nav {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

nav a:link {
    padding: 5px;
    color: white;
    margin: auto;
    text-decoration: none;
    background-color: #2F2F34;
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

nav a:visited {
    color: white;
    background-color: #2F2F34;

}

nav a:active {
    color: white;
    background-color: #2F2F34;
}

nav a:hover {
    color: #8A2A2C;
    background-color: #FFFFFF;
}

nav {
    background-color: #2F2F34;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #8A2A2C;
    text-shadow: 1px 1px #FFFFFF;
    font-size: 40px;
}

p {
    width: 70%;
    text-align: center;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 2%;
    float: left;
}
